// Configuration for CAREAMICS_TRAIN_CARE tests

params {
    // better for later on
 //   modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    
    modules_testdata_base_path = '/home/tatiana/test_careamics/'
}

process {
    withName: 'CAREAMICS_TRAIN_CARE' {
        // Test 1: CARE configuration
        ext.args = {
            meta.id == 'test_care' ? 
                '--data_type tiff --experiment_name care --batch_size 32 --patch_size "128 128" --num_epochs 30 --axes YX --loss mae' :
                ''
        }
    }
}