// Configuration for CAREAMICS_TRAIN_N2V tests

params {
    // better for later on
 //   modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    
     modules_testdata_base_path = '/home/tatiana/test_careamics/'
}

process {
    withName: 'CAREAMICS_TRAIN_N2V' {
        // Test 1: N2V2 configuration
        ext.args = {
            meta.id == 'test_n2v2' ? 
                '--val_data /home/tatiana/test_careamics/n2v_val_sem/val.tif --data_type tiff --experiment_name n2v --batch_size 32 --patch_size "64 64" --num_epochs 30 --axes YX --use_n2v2 True' :
            meta.id == 'test_n2v' ?
                '--data_type tiff --experiment_name n2v --batch_size 32 --patch_size "64 64" --num_epochs 30 --axes YX --use_n2v2 False' :
            meta.id == 'test_structn2v' ?
                '--data_type tiff --experiment_name structn2v --batch_size 16 --patch_size "64 64" --num_epochs 30 --axes YX --use_n2v2 False --struct_n2v_axis horizontal --struct_n2v_span 11' :
                ''
        }
    }
}
