process {
    cpus = 1
    memory = '1 GB'
    time = '1h'
    beforeScript = '''
        export MPLCONFIGDIR="${TMPDIR:-/tmp}/careamics-nextflow-nf-test/mplconfig"
        export XDG_CACHE_HOME="${TMPDIR:-/tmp}/careamics-nextflow-nf-test/xdg-cache"
        mkdir -p "$MPLCONFIGDIR" "$XDG_CACHE_HOME"
    '''

    withLabel:process_medium {
        cpus = 1
        memory = '1 GB'
        time = '1h'
    }

    withName: 'CAREAMICS_TRAIN_N2V' {
        ext.args = {
            meta.id == 'test_n2v_real'
                ? '--experiment_name test_n2v_real --data_type tiff --axes YX --patch_size 32 32 --batch_size 8 --num_steps 1'
                : ''
        }
    }
}
