/*
========================================================================================
    Configuration for CAREamics Denoising 
========================================================================================
*/

// Default params
params {
    trace_report_prefix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    outdir              = 'results'

    // Required data
    train_data          = null
    prediction_csv      = null

    // Required
    algorithm           = null
    experiment_name     = null
    data_type           = "tiff"
    axes                = null
    patch_size          = null
    batch_size          = null

    // optional data (depending on algorithm)
    train_target        = []
    val_data            = []
    val_target          = []

    // optional n2v, n2n & care
    num_epochs          = null
    num_steps           = null
    augmentations       = null
    n_val_patches       = null
    // optional n2v
    use_n2v2            = null
    n_channels          = null
    // optional n2n & care
    n_channels_in       = null
    n_channels_out      = null

    // optional pred options
    pred_batch_size     = null
    tile_size           = null
    tile_overlap        = null
    pred_axes           = null
    pred_data_type      = null
    write_type          = null
}

// Local process defaults and module-specific configuration
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    debug {
        dumpHashes                                   = true
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    gpu {
        process {
            ext.use_gpu = true
        }
        docker.runOptions      = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions   = '--nv'
        singularity.runOptions = '--nv'
    }
    cpu {
        process {
            ext.use_gpu = false
        }
    }
    slurm {
        process {
            executor       = 'slurm'
            queue          = 'gpu'
            clusterOptions = '--gres=gpu:1'
        }
    }

    // Test profile (uses stub execution)
    test {
        params.outdir    = 'test_results'
        params.algorithm = 'n2v'
        params.num_steps = 1
    }
}

/*
========================================================================================
    Report and Trace Configuration
========================================================================================
*/

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.trace_report_prefix}_execution_timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.trace_report_prefix}_execution_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.trace_report_prefix}_execution_trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.trace_report_prefix}_pipeline_dag.html"
}
