process {
    withName: CAREAMICS_CONFIG_N2V {
        ext.args   = [
            params.num_epochs ? "--num_epochs ${params.num_epochs}" : "",
            params.num_steps ? "--num_steps ${params.num_steps}" : "",
            params.augmentations ? "--augmentations ${params.augmentations instanceof List ? params.augmentations.join(' ') : params.augmentations}" : "",
            params.n_val_patches ? "--n_val_patches ${params.n_val_patches}" : "",
            params.use_n2v2 ? "--use_n2v2" : "",
            params.n_channels ? "--n_channels ${params.n_channels}" : "",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${workflow.runName}" },
            mode: 'copy',
            pattern: '{careamics.yaml}',
        ]
    }

    withName: CAREAMICS_CONFIG_CARE {
        ext.args   = [
            params.num_epochs ? "--num_epochs ${params.num_epochs}" : "",
            params.num_steps ? "--num_steps ${params.num_steps}" : "",
            params.augmentations ? "--augmentations ${params.augmentations instanceof List ? params.augmentations.join(' ') : params.augmentations}" : "",
            params.n_val_patches ? "--n_val_patches ${params.n_val_patches}" : "",
            params.n_channels_ine ? "--n_channels_in ${params.n_channels_in}" : "",
            params.n_channels_out ? "--n_channels_out ${params.n_channels_out}" : "",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${workflow.runName}" },
            mode: 'copy',
            pattern: '{careamics.yaml,checkpoints/**/*.ckpt}',
        ]
    }

    withName: CAREAMICS_CONFIG_N2N {
        ext.args   = [
            params.num_epochs ? "--num_epochs ${params.num_epochs}" : "",
            params.num_steps ? "--num_steps ${params.num_steps}" : "",
            params.augmentations ? "--augmentations ${params.augmentations instanceof List ? params.augmentations.join(' ') : params.augmentations}" : "",
            params.n_val_patches ? "--n_val_patches ${params.n_val_patches}" : "",
            params.n_channels_in ? "--n_channels_in ${params.n_channels_in}" : "",
            params.n_channels_out ? "--n_channels_out ${params.n_channels_out}" : "",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${workflow.runName}" },
            mode: 'copy',
            pattern: '{careamics.yaml}',
        ]
    }

    withName: CAREAMICS_TRAIN {
        publishDir = [
            path: { "${params.outdir}/${workflow.runName}/train_${params.algorithm}" },
            mode: 'copy',
            pattern: '{checkpoints/**/*.ckpt}',
        ]
    }

    withName: CAREAMICS_PREDICT {
        ext.args   = [
            params.pred_batch_size ? "--batch_size ${params.pred_batch_size}" : '',
            params.tile_size ? "--tile_size ${params.tile_size}" : '',
            params.tile_overlap ? "--tile_overlap ${params.tile_overlap}" : '',
            params.pred_axes ? "--axes ${params.pred_axes}" : '',
            params.pred_data_type ? "--data_type ${params.pred_data_type}" : '',
            params.write_type ? "--write_type ${params.write_type}" : '',
        ].join(' ').trim()
        publishDir = [path: { "${params.outdir}/${workflow.runName}" }, mode: 'copy', pattern: 'predictions/*']
    }
}
