// Configuration for CAREAMICS_TRAIN_N2N tests

params {
    // better for later on
 //   modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    
    modules_testdata_base_path = '/home/tatiana/test_careamics/'
}

process {
    withName: 'CAREAMICS_TRAIN_N2N' {
        // Test 1: N2N configuration
        ext.args = {
            meta.id == 'test_n2n' ? 
                '--data_type tiff --experiment_name n2n --batch_size 64 --patch_size "64 64" --num_epochs 30 --axes YX  --loss mae' :
                ''
        }
    }
}
