process {
        cpus   = 1
        memory = 1.GB
        time   = 1.h
    beforeScript = '''
        export MPLCONFIGDIR="${TMPDIR:-/tmp}/careamics-nextflow-nf-test/mplconfig"
        export XDG_CACHE_HOME="${TMPDIR:-/tmp}/careamics-nextflow-nf-test/xdg-cache"
        mkdir -p "$MPLCONFIGDIR" "$XDG_CACHE_HOME"
    '''

    withLabel: process_medium {
        cpus   = 1
        memory = 1.GB
        time   = 1.h
    }

    withName: CAREAMICS_CONFIG_CARE {
        ext.args = ''
    }
}
