process {
         
    withName: 'CAREAMICS_TRAIN_N2V' {
        ext.args = [
            "--experiment_name ${params.experiment_name}",
            "--data_type ${params.data_type}",
            "--axes ${params.axes}",
            "--patch_size ${params.patch_size}",
            "--batch_size ${params.batch_size}",
            (params.num_epochs ?: false) ? "--num_epochs ${params.num_epochs}" : "",
            (params.num_steps ?: false) ? "--num_steps ${params.num_steps}" : "",
            (params.augmentations ?: false) ? "--augmentations ${params.augmentations instanceof List ? params.augmentations.join(' ') : params.augmentations}" : "",
            (params.n_val_patches ?: false) ? "--n_val_patches ${params.n_val_patches}" : "",
            (params.use_n2v2 ?: false) ? "--use_n2v2" : "",
            (params.n_channels ?: false) ? "--n_channels ${params.n_channels}" : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/n2v" },
            mode: 'copy',
            pattern: '{*.yaml,checkpoints/**/*.ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_TRAIN_CARE' {
        ext.args =  [
            "--experiment_name ${params.experiment_name}",
            "--data_type ${params.data_type}",
            "--axes ${params.axes}",
            "--patch_size ${params.patch_size}",
            "--batch_size ${params.batch_size}",
            (params.num_epochs ?: false) ? "--num_epochs ${params.num_epochs}" : "",
            (params.num_steps ?: false) ? "--num_steps ${params.num_steps}" : "",
            (params.augmentations ?: false) ? "--augmentations ${params.augmentations instanceof List ? params.augmentations.join(' ') : params.augmentations}" : "",
            (params.n_val_patches ?: false) ? "--n_val_patches ${params.n_val_patches}" : "",
            (params.n_channels_in ?: false) ? "--n_channels_in ${params.n_channels_in}" : "",
            (params.n_channels_out ?: false) ? "--n_channels_out ${params.n_channels_out}" : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/care" },
            mode: 'copy',
            pattern: '{*.yaml,checkpoints/**/*.ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_TRAIN_N2N' {
        ext.args = [
            "--experiment_name ${params.experiment_name}",
            "--data_type ${params.data_type}",
            "--axes ${params.axes}",
            "--patch_size ${params.patch_size}",
            "--batch_size ${params.batch_size}",
            (params.num_epochs ?: false) ? "--num_epochs ${params.num_epochs}" : "",
            (params.num_steps ?: false) ? "--num_steps ${params.num_steps}" : "",
            (params.augmentations ?: false) ? "--augmentations ${params.augmentations instanceof List ? params.augmentations.join(' ') : params.augmentations}" : "",
            (params.n_val_patches ?: false) ? "--n_val_patches ${params.n_val_patches}" : "",
            (params.n_channels_in ?: false) ? "--n_channels_in ${params.n_channels_in}" : "",
            (params.n_channels_out ?: false) ? "--n_channels_out ${params.n_channels_out}" : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/n2n" },
            mode: 'copy',
            pattern: '{*.yaml,checkpoints/**/*.ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_PREDICT' {
        ext.args = [
            "--batch_size ${params.batch_size}",
            "--tile_size ${params.tile_size}",
            "--tile_overlap ${params.tile_overlap}",
            "--axes ${params.pred_axes}",
            "--data_type ${params.data_type}",
            "--write_type ${params.write_type}"
		].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/denoised" },
            mode: 'copy',
            pattern: 'predictions/*'
        ]
    }

}
