process {
         
    withName: 'CAREAMICS_TRAIN_N2V' {
        ext.args = [
            "--experiment_name ${params.experiment_name}",
            "--data_type ${params.data_type}",
            "--axes ${params.axes}",
            "--patch_size '${params.patch_size}'", 
            "--batch_size ${params.batch_size}", 
            "--num_epochs ${params.epochs}", 
            "--use_n2v2 ${params.use_n2v2}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/n2v" },
            mode: 'copy',
            pattern: '*.{yaml,ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_TRAIN_CARE' {
        ext.args =  [
            "--experiment_name ${params.experiment_name}",
            "--data_type ${params.data_type}",
            "--axes ${params.axes}",
            "--patch_size '${params.patch_size}'",
            "--batch_size ${params.batch_size}",
            "--num_epochs ${params.epochs}",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/care" },
            mode: 'copy',
            pattern: '*.{yaml,ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_TRAIN_N2N' {
        ext.args = [
            "--experiment_name ${params.experiment_name}",
            "--data_type ${params.data_type}",
            "--axes ${params.axes}",
            "--patch_size '${params.patch_size}'",
            "--batch_size ${params.batch_size}",
            "--num_epochs ${params.epochs}",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/n2n" },
            mode: 'copy',
            pattern: '*.{yaml,ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_PREDICT' {
        ext.args = [
            "--batch_size ${params.batch_size}",
            "--tile_size '${params.tile_size}'", 
            "--tile_overlap '${params.tile_overlap}'", 
            "--axes ${params.test_axis}",
            "--data_type ${params.data_type}",
            "--write_type ${params.write_type}"
		].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/denoised" },
            mode: 'copy',
            pattern: 'predictions/*'
        ]
    }

}