process {
         
    withName: 'CAREAMICS_TRAIN_N2V' {
        ext.args = [
                    "--num_epochs ${params.epochs}", 
                    "--batch_size ${params.batch_size}", 
                    "--patch_size '${params.patch_size}'", 
                    "--axes ${params.axes}",
                    "--experiment_name ${params.experiment_name}",
                    "--data_type ${params.data_type}",
                    "--use_n2v2 ${params.use_n2v2}"].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/n2v" },
            mode: 'copy',
            pattern: '*.{yaml,ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_TRAIN_CARE' {
        ext.args =  [
        "--data_type ${params.data_type}",
        "--experiment_name ${params.experiment_name}",
        "--batch_size ${params.batch_size}",
        "--patch_size '${params.patch_size}'",
        "--num_epochs ${params.epochs}",
        "--axes ${params.axes}",
        "--loss ${params.loss}"].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/care" },
            mode: 'copy',
            pattern: '*.{yaml,ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_TRAIN_N2N' {
        ext.args = [
        "--data_type ${params.data_type}",
        "--experiment_name ${params.experiment_name}",
        "--batch_size ${params.batch_size}",
        "--patch_size '${params.patch_size}'",
        "--num_epochs ${params.epochs}",
        "--axes ${params.axes}",
        "--loss ${params.loss}",
    ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/training/n2n" },
            mode: 'copy',
            pattern: '*.{yaml,ckpt}'
        ]
    }
    
    withName: 'CAREAMICS_PREDICT' {
        ext.args = [
		"--tile_size '${params.tile_size}'", 
		"--tile_overlap '${params.tile_overlap}'", 
		"--axes ${params.test_axis}",
                "--batch_size ${params.batch_size}",
                 "--data_type ${params.data_type}",
                  "--write_type ${params.write_type}"
		].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/denoised" },
            mode: 'copy',
            pattern: 'predictions/*'
        ]
    }

}